parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#mixed#'
    - '#codepoint of function#'
    - '#type specified in iterable type array#'
  reportUnmatchedIgnoredErrors: false
